/* --global-- */
:root {
   --lichte-achtergrond: #fff;
   --nav-tekst-kleur:#84BC2D;
   --tekst-op-lichte-achterground:#212121;
   --rounded: .4rem;
   --pilled: 1.4rem;
   --shadow: .3rem;
   --border: .15rem;
}
@font-face {
   font-family: "ff-tisa-sans-web-pro";
   font-display: swap;
   src: url("/fonts/tisa-sans-web-pro-700.woff2") format("woff2");
   font-weight: 700;
   font-style: normal;
 }

 @font-face {
   font-family: "ff-tisa-sans-web-pro";
   font-display: swap;
   src: url("/fonts/tisa-sans-web-pro-400.woff2") format("woff2");
   font-weight: 400;
   font-style: normal;
 }

 @font-face {
   font-family: "ff-tisa-sans-web-pro";
   font-display: swap;
   src: url("/fonts/tisa-sans-web-pro-400-italic.woff2") format("woff2");
   font-weight: 400;
   font-style: italic;
 }

 @font-face {
   font-family: "ff-tisa-sans-web-pro";
   font-display: swap;
   src: url("./fonts/tisa-sans-web-pro-300.woff2") format("woff2");
   font-weight: 300;
   font-style: normal;
 }

 @font-face {
   font-family: "proxima-nova";
   font-display: swap;
   src: url("/fonts/proxima-nova-900.woff2") format("woff2");
   font-weight: 900;
   font-style: normal;
 }

 @font-face {
   font-family: "proxima-nova";
   font-display: fallback;
   src: url("/fonts/proxima-nova-300.woff2") format("woff2");
   font-weight: 300;
   font-style: normal;
 }
 * {
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
 }
 
 body {
   -webkit-font-smoothing: antialiased;
   color: #41453b;
   font-family: ff-tisa-sans-web-pro, sans-serif;
   overflow-x: hidden;
   padding: 0.5rem;  
 }
 
 .heading,
 h1,
 h2,
 h3,
 h4,
 h5 {
   font-family: proxima-nova, sans-serif;
   font-weight: 900;
   line-height: 110%;
 }



/* nav bar */
.nav-bar{
   list-style: none;
}

.nav-bar li{
  
}

.nav-bar a{
   text-decoration: none;
   color:var(--nav-tekst-kleur);
}

 .bar{
   background-color:var(--nav-tekst-kleur);
   color: var(--nav-tekst-kleur);
}

/* images */
.img-normaal{
   object-fit:cover ;
   width: 10rem;
   height: 12rem;

}
.art-img{
   display: none;
}
.ul-images-people{
   list-style: none;
   display: flex;
   flex-wrap: wrap;
   max-width: 20rem;
   padding:0.5rem;
   justify-content: space-between;
}
.ul-images-people li{
   width: 7.4rem; /* Set the width of each li to half with a small margin */
   display: flex;
   flex-wrap: wrap;
  width: calc(50% - 0.3rem);
}

.logo-img{
   height:4rem;
   width: 3rem;
   position: relative;
   /* in het midden van het scherm */
   left:50%; 
   transform: translateX(-50%);
 
}
/* filters */
.show-all-filters{
   background-color: #ffffff;
   border-style: none;
   border-radius: 5px;
   padding: 0.2rem 1rem;
   margin-bottom: 1rem;
}
.filters-all{
   background-color: #b8d3b7;
   cursor: pointer;  
   border-style: none;
   border-radius: 10px;
   padding: 0.5rem;
   box-shadow: 0px 1px 2px    #212121;
}

.filters-all:hover{
   background-color: var(--nav-tekst-kleur);

}
  /* MEDIA QUERIES */
  /* Moblie */
@media (min-width: 1px) and (max-width:310px){
   .ul-images-people{
    display:block
   }
  }

  @media (max-width: 600px) {
   .ul-images-people{
   }
  }
  /* tablet */
@media (min-width: 601px) and (max-width: 720px) {
   .ul-images-people {
     max-width: 40rem;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
   }
 
   .ul-images-people li {
     flex: 0 0 calc(30% - 1rem);
     margin-bottom: 1rem;
     display: flex;
     flex-direction: column;
   }
 
   .info-text-img {
     max-width: 6rem;
   }
 }
 
 /* Additional tablet */
 @media (min-width: 720px) and (max-width: 1023px) {
   .ul-images-people {
     max-width: 50rem;
   }
 
   .ul-images-people li {
     flex: 0 0 calc(25% - 1rem);
     display: flex;
     flex-direction: column;
   }
 
   .info-text-img {
     max-width: 6rem;
   }
 }

  /* desktop */
  @media (min-width: 1024px) {
   body{
      
      padding-left:5rem;
    
     }
  .ul-images-people {
     max-width: 60rem;
   }
 
   .ul-images-people li {
     flex: 0 0 calc(15% - 1rem);
     display: flex;
     flex-direction: column;
   }
.nav-bar li{
   display: inline-block;
   padding: 3rem;
   position: relative;
   left: 25%;
   transform: translateX(-50%);
}
#Onze-mensen-tekst{
   max-width:39rem;
}
  }
