/* --global-- */
:root {
  /* kleur */
   --lichte-achtergrond: #fff;
   --nav-tekst-kleur:#84BC2D;
   --tekst-op-lichte-achterground:#212121;
  --rounded: .4rem;
   --pilled: 1.4rem;
   --shadow: .3rem;
   --border: .15rem;
   /* font */
   --headings-font-family:
  "proxima-nova", sans-serif;
   --headings-font-weight:900;
   /* buttons */
   --show-all-filters-background:#fff;
   --show-all-filters-background-hover:#84BC2D;
   --show-all-filters-background-border-color:#749450;
}

@font-face {
   font-family: "ff-tisa-sans-web-pro";
   font-display: swap;
   src: url("/fonts/tisa-sans-web-pro-700.woff2") format("woff2");
   font-weight: 700;
   font-style: normal;
 }

 @font-face {
   font-family: "ff-tisa-sans-web-pro";
   font-display: swap;
   src: url("/fonts/tisa-sans-web-pro-400.woff2") format("woff2");
   font-weight: 400;
   font-style: normal;
 }

 @font-face {
   font-family: "ff-tisa-sans-web-pro";
   font-display: swap;
   src: url("/fonts/tisa-sans-web-pro-400-italic.woff2") format("woff2");
   font-weight: 400;
   font-style: italic;
 }

 @font-face {
   font-family: "ff-tisa-sans-web-pro";
   font-display: swap;
   src: url("./fonts/tisa-sans-web-pro-300.woff2") format("woff2");
   font-weight: 300;
   font-style: normal;
 }

 @font-face {
   font-family: "proxima-nova";
   font-display: swap;
   src: url("/fonts/proxima-nova-900.woff2") format("woff2");
   font-weight: 900;
   font-style: normal;
 }

 @font-face {
   font-family: "proxima-nova";
   font-display: fallback;
   src: url("/fonts/proxima-nova-300.woff2") format("woff2");
   font-weight: 300;
   font-style: normal;
 }

 * {
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   margin:0 auto;
 }
 
 body {
   -webkit-font-smoothing: antialiased;
   color: #41453b;
   font-family:"ff-tisa-sans-web-pro", sans-serif;
   overflow-x: hidden;
   padding: 0.5rem;
  }
  
 .heading,
 h1,
 h2,
 h3,
 h4,
 h5 {
   font-family: var(--headings-font-family);
   font-weight: var(--headings-font-weight);
   line-height: 110%;
 }
/* Hamburger menu */
.menu-button{
  position: relative;
  top:2rem;
  left:4rem;
  color: var(--nav-tekst-kleur);
  border-style:none;
  background:transparent;
}
.hamburger-icon{
  color: var(--nav-tekst-kleur);
  scale: 1.3;
 position:relative;
  top:3.1rem;
 left:2.6rem;
 
}

/* na v bar */
.ul-navbar{
   list-style: none;
   padding: 3rem;
   display: block;
}


.nav-bar a{
   text-decoration: none;
   color:#fff;
}

 .bar{
   background-color:var(--nav-tekst-kleur);
   color: var(--nav-tekst-kleur);
}

/* images */
.img-normaal{
   object-fit:cover ;
   width: 10rem;
   height: 12rem;
   border-radius: 5px;  
}
.art-img{
  object-fit:cover ;
  width: 10rem;
  height: 12rem;
  border-radius: 5px;
}

.ul-images-people{
   list-style: none;
   display: flex;
   flex-wrap: wrap;
   /* max-width: 20rem; */
   padding:0.5rem;
   justify-content: space-between;
}

.ul-images-people li{
   width: 7.4rem; /* Set the width of each li to half with a small margin */
   /* display: flex; */
   flex-wrap: wrap;
  width: calc(50% - 0.3rem);
}

.logo-img{
   height:4rem;
   width: 3rem;
   position: relative;
   /* in het midden van het scherm */
   left:50%; 
   transform: translateX(-50%);
 
}
/* filters */
.filters{
  display: none;
}
.show-all-filters{
   background-color:var(--show-all-filters-background);
   border-color:var(--show-all-filters-background-border-color);
   border-radius: 5px;
   padding: 0.2rem 1rem;
   margin-bottom: 1rem;
 
}
.filters-all{
   background-color: #b8d3b7;
   cursor: pointer;  
   border-style: none;
   border-radius: 10px;
   padding: 0.5rem;
   margin:0.2rem;
   box-shadow: 0px 1px 2px    #212121;
}
/* hovers */
.filters-all:hover{
   background-color: var(--nav-tekst-kleur);
  
}

.show-all-filters:hover{
  background-color:var(--show-all-filters-background-hover);
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
}

.hidden{
  display: none;
}

.show{
  display: block;
}
button.active{
  background-color: #3b9c50;
  color: #fff;
  cursor: pointer;  
   border-style: none;
   border-radius: 10px;
   padding: 0.5rem;
   margin:0.2rem;
   box-shadow: 0px 1px 2px    #212121;

}
/* tekst */

.Onze-mensen-tekst{
   max-width:30rem;
   align-items: center;
}
/* cardflip */
.card-container {
  perspective: 1000px;
}

.card {
  position: relative;
  width: 200px; /* Set a fixed width for the card */
  height: 300px; /* Set a fixed height for the card */
  transform-style: preserve-3d;
  transition: transform 1s;
}

.card:hover {
  transform: rotateY(180deg); /* Flip the card on hover */
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* Hide the back face during the flip */
}

.card .back {
  transform: rotateY(180deg);
}


/*  keyframes*/
@keyframes tilt-shaking {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}



  /* MEDIA QUERIES */
  /* Moblie */
@media (min-width: 1px) and (max-width:310px){
   .ul-images-people{
    display:block
   }
  }

  @media (max-width: 600px) {
    .ul-navbar{
      
      list-style: none;
      position:fixed;
     top:6rem;
     left:-2rem;
     width:15rem;
     height:55rem;
     z-index:2;
     background-color:#84bc2d;;
     color: #212121;
     padding:4rem;
    }
    .ul-navbar {
      display: none; /* Hide the menu on mobile by default */
    }
  
    .ul-navbar li{
     padding:1rem;
    }
    .close-icon{

      
    }
   .ul-images-people{
   }
   .Onze-mensen-tekst{
    max-width:30rem;
    text-align: center;
    margin: 0 auto;
    padding:2rem 0.7rem;
 }
   h1{
    text-align: center;
    padding-top:6rem;
     padding-left:1rem;
   }
   .logo-img{
    position: absolute;
    top:4%;
    left: 50%;
   transform: translate(-50%, -50%)
  }
    .show-all-filters{
   position:relative;
   left:2rem;
  }
  .filters{
    padding-left: 2rem;
   
  }
  }
  /* tablet */
@media (min-width: 601px) and (max-width: 720px) {
  .ul-navbar{
    list-style: none;
    position:fixed;
    top:6rem;
    left:-2rem;
    width:15rem;
    height:55rem;
    z-index:2;
    background-color:#84bc2d;
    padding:4rem;
  }
  .ul-navbar li{
   padding:1rem;

  }

  .ul-navbar {
    display: none; /* Hide the menu on mobile by default */
   
  }

   .ul-images-people {
     max-width: 40rem;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
   }
 
   .ul-images-people li {
     flex: 0 0 calc(30% - 1rem);
     margin-bottom: 1rem;
 
     flex-direction: column;
   }
 
   .info-text-img {
     max-width: 6rem;
   }
   .Onze-mensen-tekst{
    max-width:30rem;
    text-align: center;
    margin: 0 auto;
    padding:3rem;
 }
  h1{
    text-align: center;
     padding-top:5rem;
     padding-left:1rem;
   }
 .show-all-filters{
   position:relative;
   left:3rem;
  }
  .filters{
    padding-left: 5rem;
   
  }
 .logo-img{
    position: absolute;
    top:4%;
    left: 50%;
   transform: translate(-50%, -50%)
  }

 }
 
 /* Additional tablet */
 @media (min-width: 720px) and (max-width: 1070px) {
    body{
      text-align:center;
      padding-left:5rem;
     
   }
  .ul-images-people {
     max-width: 50rem;
   }
 
   .ul-images-people li {
     flex: 0 0 calc(25% - 1rem);
     flex-direction: column;
   }
 
   .info-text-img {
     max-width: 6rem;
   }
  
  .logo-img{
    position: absolute;
  top:4%;
  left: 50%;
  transform: translate(-50%, -50%)
  }
.ul-navbar li{
   display: inline-block;
   padding: 1rem;
   transform: translateX(-50%);
}
.ul-navbar{
   position:relative;
   top:2rem;
   right:rem;
   min-width: 10rem;
  display: block; 
   }

   .nav-bar a{
    color:var(--nav-tekst-kleur);
 }

  .menu-button{
   display:none;
  }
  .hamburger-icon{
   display:none;
   
  }
  
  h1{
   text-align:center;
   padding-top:5rem;
    padding-left:1rem;
  }
  .Onze-mensen-tekst{
   max-width:40rem;
   text-align: center;
   margin: 0 auto;
   padding:2rem;
}
  .show-all-filters{
   position:relative;
   right:15rem;
  }
  .filters{
    padding-left: 5rem;
  }
}
 

  /* desktop */
  @media (min-width: 1071px) {
   body{
     text-align:center;
      padding-left:5rem;
   }
   /* Hamburger menu */
.menu-button{
  display:none;
}
.hamburger-icon{
   display:none;
}

  .ul-images-people {
   
     max-width: 60rem;
   }
 
   .ul-images-people li {
     flex: 0 0 calc(15% - 1rem);
     /* display: flex; */
     flex-direction: column;
   }
   .ul-navbar {
    display: block;
  }
  .nav-bar a{
    color:var(--nav-tekst-kleur);
 }


  .logo-img{
    position: absolute;
  top:4%;
  left: 50%;
  transform: translate(-50%, -50%)
  }
.ul-navbar li{
   display: inline-block;
   padding: 3rem;
   transform: translateX(-50%);
}


.show-all-filters{
  position:relative;
  right:18rem;
 }
 
.Onze-mensen-tekst{
   max-width:40rem;
   text-align: center;
   margin: 0 auto;
   padding:2rem;
}

}